.hide {
  display: none !important;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#div-books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.div-card {
  padding: 1rem;
  background-color: darkorange;
  border: 1px solid darkorange;
  box-shadow:  0 .5rem 1rem hsla(0, 0%, 0%, .15);
}

#div-form